<div *ngIf="rating > 0 || !isReadOnly">
    <ng-template #t let-fill="fill" let-index="index">
        <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
        </span>
    </ng-template>
    <p>
        <ngb-rating [(rate)]="rating" [max]="5" [readonly]="isReadOnly" [starTemplate]="t"></ngb-rating> <span
            class="rating-text"> {{rating | number: '1.0-1'}}/5 </span>
    </p>
</div>
<div *ngIf="rating == 0 && isReadOnly">
    <p class="rating-text">Not yet rated</p>
</div>
