<mat-card>

    <div class="d-flex justify-content-center">
        
        <div class="text-box align-self-center">
            <h1 class="a">Our</h1><br>
            <h1 class="b">  Most</h1><br>
            <h1 class="c">   Favourited</h1><br>
            <h1 class="d">    Recipes</h1>
        </div>
        
        <!-- <div class="p-2">

        <div class="d-flex flex-wrap justify-content-center ">
                <div *ngFor="let recipe of recipeList | paginate: {
                    itemsPerPage: 1,
                    currentPage: page}">
                    <app-recipe-list-item [recipe]="recipe" [authorId]="recipe.authorId"></app-recipe-list-item>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <p class="controls"> 
                    <pagination-controls
                    class="my-pagination" 
                    (pageChange)="page = $event"
                    nextLabel=""
                    previousLabel=""
                    ></pagination-controls>
                </p>
            </div>
        </div> -->

        <div class="p-2">
        
            <div class="d-flex flex-wrap justify-content-center ">
                <app-recipe-list-item [recipe]="recipeList[0]" [authorId]="recipeList[0].authorId"></app-recipe-list-item>
            </div>
        </div>
    </div>
    <app-recipe-accordion [recipeList]="recipeList"></app-recipe-accordion>
      
</mat-card>