/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Mohave&family=Press+Start+2P&display=swap');
@import '~mdb-ui-kit/css/mdb.min.css';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


html, body { 
    margin: 0;
    height: 100%; 
}
body {
font-family: 'Abril Fatface',
cursive;
background-color: rgb(250, 247, 253);
}

.page {
width: 95%;
margin-left: auto;
margin-right: auto;
padding: 0.5%;
min-height: 1200px
}

.default-hover:hover{
    background-color: #f3e0ff;
    cursor: pointer;
}


