<div *ngIf="recipeList != null">

    <mat-card>
        
        <div class="d-flex justify-content-center">
            
            <div *ngIf="left" class="text-box align-self-center">
                <h1 class="a">{{ourOrYour}}</h1><br>
                <h1 class="b"> Highest</h1><br>
                <h1 class="c"> Rated</h1><br>
                <h1 class="d"> Recipes</h1>
            </div>
            
            <div class="p-2">
                <div class="d-flex flex-wrap justify-content-center ">
                    <app-recipe-list-item [recipe]="recipeList[0]" [authorId]="recipeList[0].authorId">
                    </app-recipe-list-item>
                </div>
            </div>
            
            <div *ngIf="!left" class="text-box align-self-center">
                <h1 class="a">{{ourOrYour}}</h1><br>
                <h1 class="b"> Highest</h1><br>
                <h1 class="c"> Rated</h1><br>
                <h1 class="d"> Recipes</h1>
            </div>
        </div>
        <app-recipe-accordion [recipeList]="recipeList"></app-recipe-accordion>
        
    </mat-card>
</div>
