<div class = "page d-flex justify-content-center">

    <form [formGroup]="recipeForm">
        
        <mat-form-field appearance="fill">
            <mat-label>Recipe Name</mat-label>
            <input matInput formControlName="name" placeholder="recipe name...">
            <mat-error *ngIf="name.invalid && name.touched">
                Please enter a valid recipe name.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Prep Time</mat-label>
            <input type="number" matInput formControlName="prepTime" placeholder="Prep Time...">
            <mat-error *ngIf="prepTime.invalid && prepTime.touched">
                Please enter a valid preparation time
            </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Cooking Time</mat-label>
            <input type="number" matInput formControlName="cookingTime" placeholder="cooking Time...">
            <mat-error *ngIf="cookingTime.invalid && cookingTime.touched">
                Please enter a valid cooking time
            </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Select Cuisine</mat-label>
            <mat-select formControlName="cuisine">
                <mat-option *ngFor="let cuisine of cuisineList" value="cuisine">{{cuisine | titlecase}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <button class=" btn btn-primary" (click)="addDiet()">Add Diet</button>
        <div *ngFor="let control of diets.controls; index as i">
            <mat-form-field appearance="fill">
                <mat-label>Select Diets</mat-label>
                <mat-select formControlName="diets.controls[i]">
                    <mat-option *ngFor="let diet of dietList" value="diet">{{diet | titlecase}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button class=" btn btn-primary" (click)="removeDiet(i)">Remove Diet</button>
        </div>
        
        <button class=" btn btn-primary" (click)="addIngredient()">Add Ingredient</button>
        <div *ngFor="let control of ingredients.controls; index as i">
            <form [formGroup]="ingredient">
                <mat-form-field appearance="fill">
                    <mat-label>Ingredient Name</mat-label>
                    <input matInput formControlName="ingredientName" placeholder="ingredient name...">
                    <mat-error *ngIf="ingredientName.invalid && ingredientName.touched">
                        Please enter a valid ingredient name.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Ingredient Quantity</mat-label>
                    <input type="number" matInput formControlName="ingredientQuantity" placeholder="Quantity...">
                    <mat-error *ngIf="ingredientQuantity.invalid && ingredientQuantity.touched">
                        Please enter a valid quantity
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Select Measurement</mat-label>
                    <mat-select formControlName="ingredientMeasurement">
                        <mat-option *ngFor="let measure of measurementList" value="measure">{{measure | titlecase}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <button class=" btn btn-primary" (click)="removeIngredient(i)">Remove Ingredient</button>
        </div>
        How to cook: 
        <button class=" btn btn-primary" (click)="addStep()">Add Step</button>
        <div *ngFor="let control of method.controls; index as i">
            <mat-form-field appearance="fill">
                <mat-label>Step Content </mat-label>
                <textarea matInput formControlName="method.controls[i]" placeholder="step"></textarea>
                <mat-error *ngIf="method.invalid && method.touched">
                    Please enter a valid instruction
                </mat-error>
            </mat-form-field>
            <button class=" btn btn-primary" (click)="removeStep(i)">Remove Step</button>
            
        </div>
        
    </form>
</div>