<div *ngIf="loading" class="d-flex justify-content-center align-self-center">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading">
    <mat-card class="default-hover" [routerLink]="['/recipes/', recipe.id ]">
        <div class="d-flex flex-wrap">
            <div class="p-2">
                <img class="rounded float-left small-image img-fluid" src={{recipe.imageUrl}} alt="">
                <app-star-rating [recipeId]="recipe.id"></app-star-rating>
    </div>
    <div class="p-2">
        <p>Ingredients: <strong>{{recipe.ingredients?.length}}</strong></p>
        <p>Steps: <strong>{{recipe.method?.length}} </strong></p>
        <p>Prep Time: <strong>{{recipe.prepTime}} mins </strong></p>
        <p>Cooking Time: <strong>{{recipe.cookingTime}} mins</strong></p>
    </div>
</div>
<div class="p-2">
    <h1 class="title">{{recipe.name}}</h1>
    <h4> <em>by: {{user.name}} </em></h4>
</div>
<mat-chip-list aria-label="Dietary Requirements">
    <mat-chip color="primary" selected *ngFor="let diet of recipe.diets">{{diet | enum | titlecase}}</mat-chip>
    <mat-chip color="accent" selected>{{recipe.cuisine | enum | titlecase}}</mat-chip>
</mat-chip-list>
</mat-card>
</div>
