.small-image {
    width: 200px;
    height: auto;
}

.title {
    margin-bottom: 0px;
    margin-right: 1px;
}

.mat-card {
    margin: 2px;
    min-width: 200px
}

ngb-rating {
  color: #673ab7;
  font-size: 20px;
}
