<div>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Created Recipes
                </mat-panel-title>
                <mat-panel-description>
                    <span *ngIf="loading">
                        No recipes created by user
                    </span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="!loading">
                <app-recipe-list [recipeList]="recipeList"></app-recipe-list>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>