<div class="drawer">
    <div class="d-flex justify-content-center">
        <img [routerLink]="['/']" class="logo img-fluid" src="../../../assets/images/The Recipe Box.png" alt="">
    </div>
    <mat-list>
        <a (click)="loadRecipePage()"><mat-list-item matRipple class="default-hover"><span class="text">Recipes</span></mat-list-item></a>
        <mat-divider></mat-divider>
        <mat-list-item (click)="loadProfile()" matRipple class="default-hover"> <span class="text">Profile</span></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="loadAddRecipe()" matRipple class="default-hover"><span class="text">Add Recipe</span></mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
    <app-footer></app-footer>
</div>
