
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="menuClicked()">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-button [routerLink]="['/']" >
            <span class="title">The Recipe Box</span>
        </button>
        <span class="right-spacer"></span>
            <button mat-button *ngIf="!(authService.authState$ | async)?.isAuthenticated"
                (click)="oktaAuth.signInWithRedirect()">Login</button>
            <button mat-button *ngIf="(authService.authState$ | async)?.isAuthenticated" (click)="oktaAuth.signOut()">Logout</button>
    </mat-toolbar>

