
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="menuClicked()">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-button [routerLink]="['/']" >
            <span class="title">The Recipe Box</span>
        </button>
        <span class="right-spacer"></span>
        <button mat-button>
           Log in
        </button>
        <button mat-button (click)="loadSignUpForm()">
            Sign Up
        </button>
    </mat-toolbar>

