<form [formGroup]="recipeForm" (ngSubmit)="sendRecipeName()" class="search" >
    <mat-form-field class="search" appearance="outline">
        <mat-label>Search Recipes</mat-label>
        <input type="text" 
        matInput 
        formControlName="recipeSearch" 
        [matAutocomplete]="auto" 
        (keyDown.backspace)="delete()" 
        (keyDown.delete)="delete()">
        <mat-autocomplete  #auto="matAutocomplete">
            <mat-option *ngFor="let recipe of filteredRecipeList | async" [value]="recipe.name">
                {{recipe.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>