.filter-chips {
    padding: 5px;
}

.mat-chip:hover {
    cursor: pointer;
}

.page {
    min-height: 900px;
}

.search {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
}

